/* Sección de Nosotros */
.about-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.about-section .team {
    display: flex;
    justify-content: space-around;
}

.about-section .member {
    width: 45%;
}

.about-section img {
    width: 100%;
    border-radius: 50%;
}
